.shower {

	height: 40px;
}
#coworking__main__slider {

	img {
		width: auto;
		margin: 0 auto;
	}
}
.coworking-1-wrap  {

	.section-1 {
		.freespace__info__headline {

			// text-transform: uppercase;
		}
	}


}

.coworking-1__main__content {

	.main__nav__coworking__container {


		&__item {

			&.active {

				background-color: red;

				&:after {

					content: "";

				}
			}
		}
	}

	.freespace__icon__row {

		margin-bottom: 50px;
	}

	.coworking__main__slider__item__details {

		.enter__your__question {
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			line-height: 1;
			width: 580px;
			text-align: right;
		}
	}

}

.coworking__slide__nav {

	font-family: @GB;
	font-size: 20px;
	line-height: 1;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.coworking__main__slider__item-cow {

	.coworking__main__slider__item__top {
		margin-bottom: 10px;

		.freespace__icon {
			margin-top: 75px;
		}

	}


	.coworking__main__slider__item__details {
		text-align: left;
		margin-left: 59px;
		margin-top: -50px;

		&__list {
			text-align: left;
		}
		&__item {
			text-align: center;
			width: 282px;
		}
	}

	.more-conference-btn {
		margin-left: 0;
		margin-right: 0;
		margin-top: 10px;
	}


}


// cow form

.wickedpicker {
	z-index: 93;
	//width: 90%;
	    // width: 575px;
}

.cow__form_tr-bg {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	z-index: 90;

	&.active {
		display: block;
	}
}

.cow__form__wrap {
	position: fixed;
	top: -100%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: top .4s ease-out;
	z-index: 91;
	//width: 100%;

	&.active {
		top: 50%;
	}

}

.cow__form {
	width: 655px;
	margin: 0 auto;
	background-color: #00b64e;
	color: #fff;
	text-align: center;


	option {
		color: @gray;

	}




	&__title {
		text-align: center;
		font-size: 22px;
		padding-top: 20px;
		padding-bottom: 20px;
		text-transform: uppercase;
		font-family: @GB;
	}

	&__input {
		font-family: @G;
		font-size: 18px;
		line-height: 1;
		width: 575px;
		height: 40px;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 30px;
		padding-left: 15px;

		
		// &:focus {
		// 	background-color: transparent;
		// 	color: white;
		// 	border-color: white;
		// 	outline: none;

		// 	&::placeholder {
		// 		color: white;
		// 	}
		// }

		&-small {
			width: 275px;
			margin-right: 20px;

			&:last-of-type {
				margin-right: 0;
			}
		}

	}

	.form__select {

		// option {
		// 	color: @gray;
		// 	// width: 50%;
		// }
	}

	&__row {

		width: 575px;
		margin: 0 auto;
	}

	.btn {
		margin-bottom: 30px;
		background-color: red;
		margin-right: 0;
		border: none;
	}
}

.datepicker {
	width: 575px;
}

.text-center,
.wickedpicker__controls,
.wickedpicker__controls__control,
.wickedpicker__controls__control--separator,
.wickedpicker__controls__control-down,
.wickedpicker__controls__control-up,
.wickedpicker__title {

    font-size: 25px;
 }

 .wickedpicker__controls__control--separator {
    width: 16px;
}


 //  - -------------------     media
 @media (max-width:1280px){


 	.coworking-1__main__content {
 		.coworking__main__slider__item__details {
 			.enter__your__question {
 				width: 450px;
 			}
 		}
 	}
 }

 @media (max-width:1170px){

 	.coworking-1__main__content {
 		.coworking__main__slider__item__details {
 			.enter__your__question {
 				width: auto;
 				text-align: center;
 				margin-top: 20px;
 			}
 		}
 	}

 	.coworking__main__slider__item-cow .coworking__main__slider__item__details {

 		margin: 0;

 		.coworking__main__slider__item__details__list {

 			text-align: center;
 		}


 	}




 }





 @media (max-width:767px){

 	.cow__form__wrap {

 		width: 100%;
 	}

 	.wickedpicker {
	width: 90%;
}
.datepicker {
	width: 285px;
}

 	.cow__form {

 		width: 100%;
 		margin: 0 auto;

 		&__title {
 			padding-top: 35px;
 			padding-bottom: 15px;
 		}

 		&__input {

 			width: 90%;
 			margin-bottom: 20px;
 			padding-left: 5px;

 			&-small {
 				width: 100%;
 				margin-right: 0;
 				margin-bottom: 20px;
 			}
 		}
 		&__row {

 			width: 90%;
 		}

 		.btn {
 			margin-bottom: 20px;
 		}
 	}

 	.coworking__main__slider__item-cow .coworking__main__slider__item__details {

 		.coworking__main__slider__item__details__item {

 			width: 100%;
 		}
 	}


 	.footer__container-cow {
 		.footer__headline {
 			margin-top: 25px;
 		}
 	}




 }


 @media (max-width:480px){


 }

 @media (max-width:380px){



 }
