body {

	&.dark-nav {

		.navigation__link {
			color: @gray;
		}


		#fp-nav ul li a span {

			background-color: @gray;
		}

		#fp-nav ul li a.active span {
			background-color: @orange;
		}

		.prevFullSlide,
		.nextFullSlide {

			background: url('../img/icons/dark-nav-arrow.png') no-repeat;
		}


	}
}
.section {

	height: 100vh;
	position: relative;


	&-1 {

		background-position: center center;
		background-size: cover;

	}

	&-2 {

		background-color: #fff;

	}

	&-3 {

		background-position: center center;
		background-size: cover;
		color: #fff;
	}

	&-4 {

		background-color: #fff;
	}



}



.header {

	padding-top: 20px;

	position: fixed;
	z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  .clearfix;
}

.logo__container,
.navigation {
	float: left;

}


.logo__container {

	background-color: #fff;
	width: 168px;
	height: 70px;
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;


}

.logo__img {
	padding-left: 34px;
	padding-top: 12px;
}

.navigation {


	font-family: @G;
	width: calc(~"95% - 168px");
	padding-right: 5%;
	height: 70px;
	line-height: 70px;


	&__list {
		.clearfix;
		margin-left: 15px;
		display: flex;
		flex-wrap: wrap;
    justify-content: space-between;
	}

	&__item {

		float: left;
		margin-right: 25px;
		font-size: 18px;
		justify-content: space-between;
		&:last-child {

			margin-right: 0;
		}
	}

	&__link {

		display: inline-block;
		position: relative;
		line-height: 1;
    padding-bottom: 10px;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			height: 1px;
			width: 0;
			background-color: #fff;
			transition: 0.2s ease-out;
		}

		&:hover {

			&:after {
				content: '';
				width: 100%;
				left: 0;
			}
		}
	}
}

.title {

		text-transform: uppercase;
		font-size: 50px;
		line-height: 1;
		font-family: @GBl;
}


//section 1

.first-info {

	color: #fff;
	// position: absolute;
	// top: 50%;
	// transform: translateY(-50%);
	margin-left: 192px;


	&__title {

		font-size: 122px;
		line-height: 101px;
		font-family: @GB;
		position: relative;
    z-index: 0;
	}

	.circle-green {
			&:after {

				content: "";
	  		border: 10px solid @Lgreen;
			}
	}
}

.circle{

		position: relative;

		&:after {

			content: "";
			position: absolute;
			z-index: -1;
			top: 0;
			left: -14px;
			width: 47px;
  		height: 47px;
  		display: block;
			border-radius: 50%;
		}
	}

.title__top {

		font-size: 15px;
		text-transform: uppercase;
		font-family: @GL;
		margin-bottom: 15px;
		margin-left: 8px;
	}

// section 2

.conference{

	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	&__item {
		width: 50%;
		margin: 0 auto;

		// conference__item-o
		&-o {

			.conference__item__wrap {

				&:after {
				content: "27.03";
			}

			}
			.conference__pic{
				border: solid 28px @orange;
			}
			.conference__circle {
				background-color: @orange;
			}

			.conference__powered {
				transform: scale(0);
			}
			.conference__info_name {
				color: @orange;
			}

			.more__link {

				background-color: @orange;
			}
		}

		// conference__item-g
		&-g {

			.conference__item__wrap {

				&:after {
				content: "15.04";
			}

			}
			.conference__pic{
				border: solid 28px @Dgreen;
			}
			.conference__circle {
				background-color: @Dgreen;
			}

			.conference__powered {
				transform: scale(0);
			}
			.conference__info_name {
				color: @Dgreen;
			}

			.more__link {

				background-color: @Dgreen;
			}

			.conference__powered {

				transform: scale(1);
			}
		}


		//  conference__item__wrap

		&__wrap {

			width: 350px;
			margin: 0 auto;
			position: relative;


			&:after {
				content: "";
				position: absolute;
				top: 10px;
				right: 0;
				font-family: @GBl;

				font-size: 28px;
			}



		}
	}

	&__pic {

		width: 350px;
  	height: 350px;
  	position: relative;
		border-radius: 50%;
		display: block;
		margin-bottom: 15px;
		transition: 0.3s ease-out;

		&:hover {
			transform: scale(0.9);
			.conference__circle {

				transform: translate(-50%, -50%) scale(1.15);
			}
		}
	}

	&__circle {

		width: 185px;
		height: 185px;
		border-radius: 50%;
		position: relative;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: 0.3s ease-out;

	}

	&__img {

		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: auto !important;
	}

	&__powered {

		position: absolute;
		bottom: -30px;
		font-size: 15px;
		width: 100%;
		text-align: center;
		font-family: @G;
	}
}
.conference__info {
	text-align: center;

	&_title {
		font-size: 25px;
		line-height: 1;
		margin-bottom: 10px;
		font-family: @GBl;
	}

	&_name {


		font-size: 20px;
		line-height: 1;
		margin-bottom: 15px;
		text-transform: uppercase;
		font-family: @GBl;
	}


}

.more__link {
		text-transform: uppercase;
		font-size: 14px;
		padding: 6px 12px;
		border-radius: 15px;
		font-family: @GB;
}

.look__all__container {
	position: absolute;
	bottom: 7%;
	text-align: center;
	width: 100%;
}
.look__all {


	// left: 50%;
	// transform: translateX(-50%);
	background-color: @blue;
	height: 36px;
	// line-height: 36px;
	font-size: 20px;
	text-transform: uppercase;
	font-family: @GB;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 3px;
	border-radius: 15px;

}

.more__link,
.innovationGallery__link {

	display: inline-block;
	transition: 0.3s ease-out;

		&:hover {
			transform: scale(1.1);
		}
}



.conference__slider {

	.owl-stage-outer {

		padding-top: 50px;
		padding-bottom: 50px;
	}

}


// section 3

.coworking {

	margin-left: 65px;
	.clearfix;

	&__title__list,
	&__info__list {

		display: inline-block;
		vertical-align: middle;
		
	}

	&__title__list {
		width: 60%;
	}
	&__info__list {
		width: 39%;
	}


	&__item{

		&.active {
			display: block;

			.coworking__item__title {
				font-size: 91px;
				color: @Dgreen;
			}


		}
	}

	.title__top {

		margin-bottom: 0;
	}

	&__item__title {

		font-size: 61px;
		font-family: @GBl;
		line-height: 1;
		cursor: pointer;
		display: inline-block;
		transition: 0.3s ease-out;
	}

	&__info__item {

		display: none;
	}

	&__info {

		display: inline-block;
		vertical-align: middle;
		line-height: 1;
		text-align: left;
   // margin-right: 200px;

	}

	

	&__text {

		margin-bottom: 20px;
		width: 300px;
		line-height: 20px;
		font-size: 15px;
		font-family: @G;
		text-shadow: 2px 2px 40px black;
	}

	&__more__link {

		background-color: @Lgreen;
	}


}




.bolder {
	font-family: @GB;
}
.Dgreen {

	color: @Dgreen;
}
.orange{
	color: @orange;
}

// section 4  innovationGallery

.innovationGallery {

	margin-top: 100px;

	.clearfix;

	&__left,
	&__right {

		width: 50%;
		float: left;
	}

	&__left {


	}

	.title__top {

		margin-left: 2px;
	}

	&__info {

		margin-left: 90px;
    margin-right: 176px;
    margin-top: 90px;
	}

	&__title {

		font-size: 35px;
		line-height: 1;
		font-family: @GBl;
		margin-bottom: 30px;
		position: relative;
		z-index: 1;

		.circle-orange {
			&:after {

				content: "";
	  		border: 10px solid @orange;
	  		top: -13px;
   			left: -19px;
			}
		}
	}

	&__text {
		font-size: 20px;
		font-family: @GL;
		margin-bottom: 25px;
	}

	&__link {

		background-color: @orange;
		text-transform: uppercase;
		font-size: 20px;
		padding-left: 35px;
		padding-right: 35px;
		border-radius: 15px;
		font-family: @GB;
		height: 38px;
		display: inline-block;
		text-align: center;
		line-height: 38px;
	}

	// ----------   slider

	&__wrap {

		width: 400px;
		margin: 0 auto;
		position: relative;
		padding-bottom: 31px;
	}

	&__slider {
		width: 400px;
		height: 400px;
		position: relative;
    border-radius: 50%;
    display: block;
    //border: solid 90px @orange;
    margin-bottom: 30px;

    &:before {

    	content:"";
    	position: absolute;
    	display: block;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	width: 215px;
    	height: 215px;
    	background-color: #fff;
    	border-radius: 50%;
    }

    &:after {

    	content:"";
    	position: absolute;
    	z-index: -1;
    	display: block;
    	top: 0;
    	left: 0;
    	width: 400px;
    	height: 400px;
    	background-color: @orange;
    	border-radius: 50%;
    }

	}

	&__item {

		width: 100%;
		height: 400px;

		&__headline {
			text-transform: uppercase;
			font-family: @GBl;
			font-size: 35px;
			line-height: 1;
			color: @orange;
			text-align: center;

		}
	}


		&__pic {

		width: 350px;
		// position: relative;
		// left: 24px;
  //   bottom: -48px;
  //   margin-bottom: 115px;
     margin-top: 137px;
    margin-left: 18px;
    margin-bottom: 68px;

	}

	&__btn {

		position: absolute;
		bottom: 0;
		z-index: 10;
		transition: 0.3s ease-out;
		background-color: #fff;

		img {

			display: inline-block;
    	vertical-align: middle;
		}

		&-prev {
			left: 0;

			&:hover {
				transform: translateX(-10%);
			}
		}

		&-next {
			right: 0;
			transform: rotate(180deg);

			&:hover {
				transform: rotate(180deg) translateX(-10%);
			}
		}
	}
}

// section 5  footer
.footer__container {

	width: 930px;
	margin: 0 auto;
}
.footer__headline {

	text-transform: uppercase;
	font-size: 30px;
	line-height: 1;
	font-family: @GB;

	margin-top: 100px;
	position: relative;
	margin-bottom: 40px;

	&:after {
		content: "";
		display: block;
		height: 10px;
		position: absolute;
		left: -9999px;
    right: -9999px;
    top: 11px;
    z-index: -1;
		background-color: @yellow;
	}
}



.footer__map {

	height: 200px;
	width: 100%;
	margin-bottom: 30px;

	iframe {
		width: 100%;
		height: 100%;
	}

}

.contacts {

	.clearfix;
	font-family: @GB;
	margin-bottom: 50px;

	&__left,
	&__right {

		width: 50%;

	}

	&__left {

		float: left;

		.contact__link {

			color: @gray;
		}
	}
	&__right {

		float: right;
		text-align: right;

		.contact__list {
			text-align: left;
			display: inline-block;
		}
	}
}


.footer__bottom {

	.clearfix;
	font-family: @GL;
	margin-bottom: 50px;
	font-size: 10px;

	&__left,
	&__right {

		width: 50%;

	}

	&__left {

		float: left;

	}

	&__text {
		margin-bottom: 20px;
	}
	&__right {

		float: right;

	}

	&__pic {
		width: 110px;
	}

	&__copyright {

		text-align: right;
	}
}

.footer__social {

	text-align: center;
	margin-bottom: 30px;
	&__icon {

		display: inline-block;
		width: 25px;
		height: 25px;
	}
}

.language {

	position: fixed;
	z-index: 10;
	bottom: 5%; // 40 : 800
  left: 95px;


	&__item{

		display: inline-block;
		font-size: 15px;

		&.active {

			.language__link {
				color: @Lgreen;
			}
		}
	}


	&__link {

		color: @gray;

	}

}

#fp-nav {

	&.right {
		right: 60px;
	}


	ul li a.active span {
		width: 9px;
		height: 9px;
		margin: -2px 0 0 -2px;
		background-color: @Dgreen;
	}

	ul li a span {
		background-color: #fff;
		width: 9px;
		height: 9px;
	}

	// hover effect
	ul li:hover a span {
		margin: -2px 0 0 -2px;
		width: 9px;
		height: 9px;
		transform: scale(1.5)
	}
	ul li:hover a.active span {
		margin: -2px 0 0 -2px;
		width: 9px;
		height: 9px;
		transform: scale(1.5)

	}
}

.prevFullSlide,
.nextFullSlide {

	display: inline-block;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
	width: 39px;
	height: 22px;
	position: fixed;
  z-index: 98;
  right: 52px;
  transition: ease-out 0.3s;
  background: url('../img/icons/white-nav-arrow.png') no-repeat;

}

.prevFullSlide {

	top: calc(~"50% - 72px");

	&:hover,
	&:active {
		transform: scale(1.2);
	}
}

.nextFullSlide {

	top: calc(~"50% + 54px");
	transform: rotate(180deg);

	&:hover,
	&:active {
		transform: scale(1.2) rotate(180deg);
	}
}


.burger {
	display: none;
	z-index: 102;
    position: fixed;
    top: 20px;
    right: calc(0%);
    width: 87px;
    height: 70px;
    padding: 0;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 65px 0 0 65px;
    overflow: hidden;
	&:hover {
		cursor: pointer;
	}

	svg {
		overflow: hidden;
    height: 70px;
	}
}
.burger-svg__base {
	fill: #fff;
}

.burger-svg__bars {
	fill: #000;
}

.isNavOpen {
	overflow: hidden;
}




//  -----------------MEDIA ---------------------------
@media screen and (max-width: 1299px) {
	.navigation__item {
		font-size: 17px;
	}

	.navigation {
		padding-right: 0;
	}
}

@media screen and (max-width: 1245px) {
	.navigation__item {
		font-size: 16px;
	}
}


@media screen and (max-width: 1199px) {

	#fp-nav {

		&.right {
			right: 30px;
		}
	}

	.nextFullSlide, .prevFullSlide {

		right: 22px;
	}

	// burger

	.burger {

		display: block;
	}

	.navigation {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: white;
		z-index: 101;
		padding-top: 50px;

		&.active {
			.navigation__item {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}

	.navigation__item {
		font-size: 24px;
		float: none;
		width: 100%;
		text-align: center;
		opacity: 0;
		transform: translateY(10px);
		transition-delay: 0.1s;
		transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

		&:nth-child(1) {
			transition-delay: 0.2s;
		}
		&:nth-child(2) {
			transition-delay: 0.25s;
		}
		&:nth-child(3) {
			transition-delay: 0.3s;
		}
		&:nth-child(4) {
			transition-delay: 0.35s;
		}
		&:nth-child(5) {
			transition-delay: 0.4s;
		}
		&:nth-child(6) {
			transition-delay: 0.45s;
		}
		&:nth-child(7) {
			transition-delay: 0.5s;
		}
	}

	.navigation__link {
		color: black;

		&:after {
			background-color: black;
		}
	}

	.coworking__item.active .coworking__item__title {

		font-size: 70px;
	}

	.coworking__item__title {
		font-size: 45px;
	}

	.coworking__info {
		margin-right: 10%;
	}

	.innovationGallery__left, .innovationGallery__right {
    width: 100%;
    float: left;
	}

	.innovationGallery__right {
		margin: 30px 0 60px 0;
	}

	.footer__container {
		width: 800px;
	}

}

@media (max-width:1023px) {
	.first-info {
		margin-left: 90px;
	}

	.coworking__item.active .coworking__item__title {
		font-size: 55px;
	}

	.coworking__title__list {
		width: 50%;
	}

	.coworking__item__title {
    font-size: 31px;
	}


	.footer__container {
		width: 600px;
	}
}

@media (max-width:767px) {

	// header on mobile
	.logo__container {
		width: 130px;
    height: 59px;
	}

	.logo__img {
		padding-left: 19px;
    padding-top: 12px;
    width: 85px;
	}

	.burger {

		height: 59px;

		svg {
			height: 67px;
	    margin-left: 20px;
	    margin-top: -3px;
		}
	}


	.first-info {
    margin-left: 25px;
	}

	.first-info__title {
		font-size: 100px;
		line-height: 80px;
	}

	.section-2 {

		margin-bottom: 30px;
	}

	.conference {

		position: static;
		transform: none;
	}

	.conference__item {
		width: auto;
	}

	.conference__pic {
		width: 290px;
		height: 290px;
		margin: 0 auto 15px auto;
	}

	.look__all__container {

		position: static;
		margin-bottom: 30px;
	}


	.coworking {
		width: 100%;
		margin: 0;
		padding: 0 2.5%;
		padding-top: 60px;

		&__title__list,
		&__info__list {

			width: 100%;
    	text-align: center;
		}

		.title__top {

			text-align: center;
			margin: 0;
			padding-right: 29px;
		}

		&__title__list{

			margin-bottom: 50px;
		}

		&__info {

			text-align: center;
			margin-right: 0;
		}
	}
.coworking__item.active .coworking__item__title {

	font-size: 45px;
}




	.innovationGallery__info {
		margin: 50px 5%;
	}

	.innovationGallery__wrap {
		width: 300px;
	}

	.innovationGallery__slider {
		width: 300px;
		height: 345px;

		&:after {
			width: 300px;
			height: 300px;
		}

		&:before {
			top: 44%;
		}
	}

	.innovationGallery__pic {
		width: 250px;
		margin-top: 90px;
	}

	.footer__container {
		width: 90%;
	}

	.contacts__left, .contacts__right, .footer__bottom__left, .footer__bottom__right {
		float: none;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	.contacts__right .contact__list {
		text-align: center;
	}

	.footer__bottom__pic {
		margin: 0 auto;
		text-align: center;
	}

	.footer__bottom__copyright {
		text-align: center;
	}

	.language {
		bottom: 10px;
		left: 10px;
	}

	.nextFullSlide, .prevFullSlide {
		right: 10px;
	}

	#fp-nav.right {
    right: 18px;
	}
}

@media (max-width:767px) and (orientation: landscape){

	.coworking {
		padding-bottom: 60px;
	}
}

@media (max-width:480px) {
	.conference__item__wrap {
		width: 320px;
	}

	.innovationGallery__title {
		font-size: 28px;
	}

	.innovationGallery__text {
    font-size: 15px;
    padding-right: 25px;
	}
}

@media (max-width:350px) {

	
	.coworking {

		
		&__item {

			padding-right: 29px;
		}
		&__text {
			padding-right: 45px;
		}
	}
}
