.opened-innovations-wrapper {

	.navigation__link {

		color: @gray;
	}

	.section-1 {

		height: auto;
	}

	.section-2 {

		height: auto;
		margin-bottom: 160px;
	}

	.conference__img {

		width: 185px !important;
	}
	.other-events__item:nth-of-type(2n) .conference__img {

		// transform: translateX(-57%)
	}

	.infoToGallerySlider__text {

		text-transform: uppercase;
	}

	.may-buy-top {

		margin-top: 35px;
		margin-right: 40px;
		text-align: right;
	}

	.other-events__item:nth-of-type(2n) .may-buy-top {

		text-align: left;
		margin-right: 0;
		margin-left: 40px;
	}

	.other-events__info {

		margin-top: 75px;

		.other-events__info__name {

			font-family: @GL;
		}
		.other-events__info__title {
			margin-bottom: 0;
		}
		.main-event__text {
			margin-top: 0;
		}
		.main-event__buy {
			height: 25px;
			line-height: 22px;
			padding-top: 0;
			padding-bottom: 0;
		}
	}




}


.opened__innovations__author {

	border: solid 36px @orange;
	margin-top: 90px;
	margin-bottom: 160px;
	position: relative;

	&__info,
	&__pic {

		width: 49.7%;
		box-sizing: border-box;
		display: inline-block;
		vertical-align: middle;
	}

	&__info {

		padding: 0 0 45px 45px;
		// float: left;
	}

	&__title {
		font-size: 37px;
		margin-bottom: 20px;
		margin-top: 40px;
		font-family: @GB;

		&-top {
			font-size: 37px;
			color: @orange;
			position: absolute;
			top: -65px;
			font-family: @GB;
		}
	}

	&__text {

		font-size: 14px;
		line-height: 1.2;
		font-family: @GL;
	}


	// opened__innovations__author__pic
	&__pic {

		// float: right;
		text-align: right;
		text-align: right;
		position: absolute;
		right: 0;
    // top: 50%;
    // transform: translateY(-50%);
    width: 490px;
    height: 490px;
    margin-top: -55px;



    img {


    }

    &__description {

    	position: absolute;
    	bottom: -80px;
    	left: calc(~"100% - 670px");

    	&_text,
    	.crowfunding-icon {
    		display: inline-block;
    		vertical-align: bottom;
    	}

    	&_text {

    		font-family: @GL;
    		font-size: 14px;
    		line-height: 1;
    		padding-bottom: 25px;
    	}

    	.crowfunding-icon  {

    		width: 130px;
    		height: 130px;

    		svg {
    			width: 100%;
    			height: 100%;
    		}
    	}
    }
  }
}

.opened__innovations__author__btn {

	background-color: @orange;
	font-size: 14px;
	font-family: @GB;
	width: auto;
	margin-top: 25px;
	border-radius: 15px;
	height: 22px;
	line-height: 22px;
	padding: 0 10px;
}


//  -----------------MEDIA ---------------------------


@media (max-width:1199px){


}


@media (max-width:1023px){
	.opened-innovations-wrapper {
		.opened__innovations__author {
			margin-bottom: 90px;
		}
		.section-2 {
			margin-bottom: 90px;
		}
		 .other-events__item:nth-of-type(2n) .other-events__info {

		 	margin-top: 75px;
		 }

	}



	.opened__innovations__author__info {

		padding: 0 0 45px 25px;
	}

	.opened__innovations__author__pic {

		width: 340px;
		height: 340px;
	}

	.opened__innovations__author__pic__description {

		left: calc(~"100% - 425px");


		.crowfunding-icon  {

			width: 80px;
			height: 80px;
		}

	}



}
@media (max-width:767px){



	.opened-innovations-wrapper {

		.section {
			height: auto;
		}
		.section-2 {
			margin-bottom: 0;
		}

		.other-events__item {


				.other-events__info {

				 	margin-top: 30px;
				 	margin-bottom: 0;
				 }
				.may-buy-top {
					text-align: center;
					margin-right: 0;
					.infoToGallerySlider__pic {
						display: none;
					}
					.invis {
						opacity: 0;
					}
				}


			&:nth-of-type(2n) {


				.other-events__info {

				 	margin-top: 30px;
				 	margin-bottom: 0;
				 }

					.may-buy-top {
						text-align: center;
						margin-left: 0;
					.infoToGallerySlider__pic {
						display: none;
					}
					.invis {
						opacity: 0;
					}
				}


			}
		}




	}


	.opened__innovations__author {

		margin-top: 70px;
		margin-bottom: 30px;

		&__pic,
		&__info {

			width: 100%;
			text-align: center;
		}

		&__pic {


			transform: none;
			margin: 30px 0;
			margin-top: 0;
			height: auto;
			right: initial;
			position: static;
			margin-top: 10px;
			margin-bottom: 0;
			// left: 50%;
			// transform: translateX(-50%);
			// width: 95%;
			// height: 95%;
			img {
				width: 95%;
				height: auto;
			}

			&__description {

				// position: static;
				bottom: -57px;
			}
		}

		&__info {

			padding: 0;
			padding-bottom: 30px;
			width: 90%;
			margin: 0 5%;
		}
	}


	.opened__innovations__author__title-top{
		width: 100%;
		text-align: center;
	}

}

@media (max-width:480px){
	.opened__innovations__author {
		border: solid 15px @orange;
	}

	.opened__innovations__author__title-top,
	.opened__innovations__author__title {
		font-size: 25px;
	}

	.opened__innovations__author__title-top{
		top: -37px;
	}
	.opened-innovations-wrapper .conference__img {

		width: 130px !important
	}

		.opened__innovations__author__pic__description {

		left: 0;
	}


}

@media (max-width:380px){

}
